<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite"/>
  </configSections>
  <modules>
    <module assemblyFile="Modules/CWA.Module.DefaultModule.dll" moduleType="CWA.Module.DefaultModule.DefaultModule, CWA.Module.DefaultModule" moduleName="DefaultModule"/>
    <module assemblyFile="Modules/CWA.Module.ServerSelector.dll" moduleType="CWA.Module.ServerSelector.ServerSelector, CWA.Module.ServerSelector" moduleName="ServerSelectorModule"/>
    <module assemblyFile="Modules/CWA.Module.ModuleSelector.dll" moduleType="CWA.Module.ModuleSelector.ModuleSelector, CWA.Module.ModuleSelector" moduleName="ModuleSelectorModule"/>
    <module assemblyFile="Modules/CWA.Module.StatusArea.dll" moduleType="CWA.Module.StatusArea.StatusArea, CWA.Module.StatusArea" moduleName="StatusAreaModule"/>
    <module assemblyFile="Modules/CWA.Module.Documents.dll" moduleType="CWA.Module.Documents.DocumentsModule, CWA.Module.Documents" moduleName="Documents" startupLoaded="false"/>
    <module assemblyFile="Modules/CWA.Module.Users.dll" moduleType="CWA.Module.Users.UsersModule, CWA.Module.Users" moduleName="Users" startupLoaded="false"/>
    <module assemblyFile="Modules/CWA.Module.Security.dll" moduleType="CWA.Module.Security.SecurityModule, CWA.Module.Security" moduleName="Security" startupLoaded="false"/>
  </modules>
</configuration>