<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
    <add name="SaleEntities" connectionString="metadata=res://*/SaleManagmentDB.csdl|res://*/SaleManagmentDB.ssdl|res://*/SaleManagmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=DOANXDPM;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>