<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Projects_SelectAll_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_SelectAll_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects_SelectByID_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_SelectByID_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.alluringdecors.controller.home.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.alluringdecors.controller.home.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesOffered_SelectByID_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.ServicesOffered_SelectByID_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseController</servlet-name>
        <servlet-class>com.alluringdecors.controller.base.BaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_SelectAll_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.User_SelectAll_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users_Delete_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Users_Delete_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users_SelectByID_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Users_SelectByID_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users_Update_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Users_Update_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users_Insert_Controlle</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Users_Insert_Controlle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects_Delete_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_Delete_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects_SelectByIDProjectStatus_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_SelectByIDProjectStatus_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects_SelectByIDServiceRequest_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_SelectByIDServiceRequest_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects_Update_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_Update_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projects_Insert_Controller</servlet-name>
        <servlet-class>com.alluringdecors.controller.admin.Projects_Insert_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectController</servlet-name>
        <servlet-class>com.alluringdecors.controller.home.ProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDeatailController</servlet-name>
        <servlet-class>com.alluringdecors.controller.home.ProjectDeatailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterValidate</servlet-name>
        <servlet-class>com.alluringdecors.controller.validation.RegisterValidate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_Update_Controller</servlet-name>
        <url-pattern>/UpdateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesOffered_SelectByID_Controller</servlet-name>
        <url-pattern>/ServicesOffered_SelectByID_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseController</servlet-name>
        <url-pattern>/BaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_SelectAll_Controller</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users_Delete_Controller</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users_SelectByID_Controller</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users_Update_Controller</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users_Insert_Controlle</servlet-name>
        <url-pattern>/InsertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_Insert_Controller</servlet-name>
        <url-pattern>/NewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_SelectByID_Controller</servlet-name>
        <url-pattern>/ProjectDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_Delete_Controller</servlet-name>
        <url-pattern>/DeleteProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_SelectAll_Controller</servlet-name>
        <url-pattern>/AllProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_SelectByIDServiceRequest_Controller</servlet-name>
        <url-pattern>/Projects_SelectByIDServiceRequest_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projects_SelectByIDProjectStatus_Controller</servlet-name>
        <url-pattern>/Projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectController</servlet-name>
        <url-pattern>/ProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDeatailController</servlet-name>
        <url-pattern>/ProjectDeatailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterValidate</servlet-name>
        <url-pattern>/RegisterValidate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>views/home/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
