.article_preview a, .article_preview a:visited{
    text-decoration: none;
}
.article_preview a:hover, .article_preview a:active{
    text-decoration: underline;
}

div.article_preview {
    padding: 0;
    float: left;
    width:100%;
}
.article_preview span {
}
h3.article_preview {
    margin:5px 0 0; 
    font: bold 75%/170% Arial, Helvetica, sans-serif; 
    text-decoration:none;
}
h3.article_preview a {
    display:inline;
    font-size: 16px;
}
h3.article_preview a:hover {
    display:inline;
    font-size: 16px;
    text-decoration: underline;
}
.article_preview span a, .article_preview span a:visited{
    font-size: 11px;
    color: green;
}
div.article_preview {
    text-decoration:none;
    line-height:normal;
    padding:0;
    float: left;
    width: auto;
    margin: 5px 5px 10px 5px;
}
.preview_img {
    float: left;
    width: 125px;
    height: 85px;
    margin-right: 10px;
}
.cms_article_preview_image {
    border: #c9c9c9 solid 1px;
    float: left;
    margin: 5px 5px 0 0;
    height: 100px;
    width: 180px;
}
.article_preview_contents {
    padding-top: 5px;
    color: #3e3e3e;
    text-align: justify;
}
.showpreviewonly object {
    border:3px solid #ffffff;
    outline: 1px solid #c9c9c9;
    float:left;
    margin:5px 5px 5px 5px;
    width: 176px; height: 99px;;
}
.restore body {
    /* For breathing room between content and viewport. */
    margin:10px;
}

.restore h1 {
    /* 18px via YUI Fonts CSS foundation. */
    font-size: 138.5%;
}

.restore h2 {
    /* 16px via YUI Fonts CSS foundation. */
    font-size: 123.1%;
}

.restore h3 {
    /* 14px via YUI Fonts CSS foundation. */
    font-size: 108%;
}

.restore h1,
.restore h2,
.restore h3 {
    /* Top & bottom margin based on font size. */
    margin: 1em 0;
}

.restore h1,
.restore h2,
.restore h3,
.restore h4,
.restore h5,
.restore h6,
.restore strong,
.restore dt {
    /* Bringing boldness back to headers and the strong element. */
    font-weight: bold;
}
.restore optgroup {
    font-weight:normal;
}

.restore abbr,
.restore acronym {
    /* Indicating to users that more info is available. */
    border-bottom: 1px dotted #000;
    cursor: help;
}

.restore em {
    /* Bringing italics back to the em element. */
    font-style: italic;
}

.restore del {
    /* Striking deleted phrases. */
    text-decoration: line-through;
}

.restore blockquote,
.restore ul,
.restore ol,
.restore dl {
    /* Giving blockquotes and lists room to breath. */
    margin: 1em;
}
.restore blockquote {
    margin-top: 0px;
    margin-bottom: 0px;
}
.restore ol,
.restore ul,
.restore dl {
    /* Bringing lists on to the page with breathing room. */
    margin-left: 2em;
}

.restore ol li,
.restore ol.decimal li {
    list-style:decimal outside;
}

.restore ol.upper-roman li {
    list-style:upper-roman outside;
}

.restore ol.lower-roman li {
    list-style:lower-roman outside;
}

.restore ol.upper-alpha li {
    list-style:upper-alpha outside;
}

.restore ol.lower-alpha li {
    list-style:lower-alpha outside;
}

.restore ul li {
    /* Giving UL's LIs generated disc markers. */
    list-style: disc outside;
}

.restore dl dd {
    /* Giving UL's LIs generated numbers. */
    margin-left: 1em;
}

.restore th,
.restore td {
    /* Borders and padding to make the table readable. */
    border: 1px solid #000;
    padding: 0.5em;
}

.restore th {
    /* Distinguishing table headers from data cells. */
    font-weight: bold;
    text-align: center;
}

.restore caption {
    /* Coordinated margin to match cell's padding. */
    margin-bottom: .5em;
    /* Centered so it doesn't blend in to other content. */
    text-align: center;
}

.restore sup {
    /* to preserve line-height and selector appearance */
    vertical-align: super;
}

.restore sub {
    /* to preserve line-height and selector appearance */
    vertical-align: sub;
}

.restore p,
.restore fieldset,
.restore table,
.restore pre {
    /* So things don't run into each other. */
    margin-bottom: 4px;
}
/* Opera requires 1px of passing to render with contemporary native chrome */
.restore button,
.restore input[type="checkbox"],
.restore input[type="radio"],
.restore input[type="reset"],
.restore input[type="submit"] {
    padding:1px;
}
.cms_article_preview_txt_content {
    font:  normal 13px Tahoma,Calibri,Verdana,Geneva,sans-serif; 
    color: #3e3e3e;
    margin-bottom: 0px;
    padding-left: 4px;
}
.cms_article_preview_txt_content i{
    font-style: normal;
}
.cms_article_preview_txt_content b{
    font-weight: normal;
}
.readmore_spr {
    font-size: 11px;
    font-style: italic;
}
.preview_fav {
    float: right;
    font-size: 11px;
    color: #008000;
}
.previewdate {
    color: #636363;
}
