#slider {
    width: 900px; /* important to be same as image width */
    height: 294px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
    float: left;
}
#slider ul, #slider li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#slider ul {
    list-style: none;
}
#slider li {
    text-align: center;
}
#sliderContent {
    width: 900px;
    position: absolute;
    top: 0;
    margin-left: 0;
}
#slider .sliderImage {
    float: left;
    position: relative;
    display: none;
}
#slider .sliderImage img {
    width: 900px;
    height: 294px;
}
#slider .sliderImage span {
    position: absolute;
    font: 10px/15px Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 900px;
    background-color: #000;
    color: #fff;
    display: none;
}

#slider .clear {
    clear: both;
}
#slider .sliderImage span strong {
    font-size: 14px;
}
#slider .top {
    top: 0;
    left: 0;
}
#slider .bottom {
    bottom: 0;
    left: 0;
}
#slider .left {
    top: 0;
    left: 0;
    width: 110px !important;
    height: 280px;
}
#slider .right {
    right: 0;
    bottom: 0;
    width: 90px !important;
    height: 290px;
}
